<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>
</head>
<body>
<section>
    <div id="signin-backstyle">
        <div id="signin-title">
            acsys に新規登録
        </div>
        <div id="error-signin" v-if="!SignInErrorMessage">
            入力情報が間違ってる項目があります
        </div>
        <div class="signin-information-title">
            個人情報
        </div>
        <div>
            <label for="Name" >名前</label><br>
            <input type="text" class="input-form-text" id="Name" v-model="UserName">
        </div>
        <div>
            <div id="BirthDayTitle">
                生年月日
            </div>
            <div id="BirthDay">
                <label for="Year">年
                    <input type="text" id="Year" v-model="UserBirthdayYear"></label>
            </div>
            <label for="Month">月
                <input type="text" id="Month" v-model="UserBirthdayMonth"></label>
            <label for="Day">日
                <input type="text" id="Day" v-model="UserBirthdayDay"></label>
        </div>
        <div>
            <label for="Gender" id="GenderTitle">性別</label>
            <div id="GenderInput">
                <input type="radio" name="Gender" id="Gender" value="男性" v-model="UserGender">男性
                <input type="radio" name="Gender" value="女性" v-model="UserGender">女性
            </div>
        </div>
        <div class="signin-information-title">
            アカウント情報
        </div>
        <div>
            <label for="MailAddress">メールアドレス</label><br>
            <input type="email" class="input-form-text" id="MailAddress" v-model="UserMail">
        </div>
        <div>
            <label for="Password">パスワード</label><br>
            <input type="password" class="input-form-text" id="Password" v-model="UserPass"><br>
        </div>
        <div class="signin-information-title" id="Active">
            身体情報
        </div>
        <div>
            <label for="Height">身長</label><br>
            <input type="text" class="input-form-text" id="Height" v-model="UserHeight">
        </div>
        <div>
            <label for="BodyWeight">体重</label><br>
            <input type="text" class="input-form-text" id="BodyWeight" v-model="UserBodyWeight">
        </div>
        <div id="ActiveLevel">
            <label>身体活動レベル</label>
            <select name=”ActiveLevel” v-model="UserActiveLevel">
                <option value=”one”>レベルⅠ</option>
                <option value=”two”>レベルⅡ</option>
                <option value=”three”>レベルⅢ</option>
            </select>
            <div>
                <p>身体活動レベルとは、1日あたりの総エネルギー消費量を<br>1日あたりの基礎代謝量で割った指標です。</p>
                <table>
                    <tr>
                        <td>レベルⅠ</td>
                        <td>生活の大部分が座位で、静的な活動が中心の場合</td>
                    </tr>
                    <tr>
                        <td>レベルⅡ</td>
                        <td>座位中心の仕事だが、職場内での移動や立位での作業・接客等、<br>あるいは通勤・買物・家事、軽いスポーツ等のいずれかを含む場合</td>
                    </tr>
                    <tr>
                        <td>レベルⅢ</td>
                        <td>移動や立位の多い仕事への従事者。あるいは、<br>スポーツなど余暇における活発な運動習慣をもっている場合</td>
                    </tr>
                </table>
            </div>
        </div>
        <button @click="signin"  class="btn-flat-vertical-border">登録</button>
    </div>
</section>
</body>
</html>